<%= form_with(model: @user, local: true) do |form| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <%= form.label :profile %>
    <%= form.file_field :profile %>
  </div><br>
  <h1><%= @user.name %></h1>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <p>メールアドレス: <%= @user.email %></p>
  <%= form.hidden_field :password %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
