<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="profile_editer">
    <tr>
      <th><%= image_tag(@user.profile.url) if @user.profile && @user.profile.url %>
      <td><%= form.file_field :profile %>
    </tr>
    <tr>
      <th><%= form.label :name %>
      <td><%= form.text_field :name, class:"form-control", placeholder:"名前" %>
    </tr>
    <tr>
      <th><%= form.label :email %>
      <td><%= form.text_field :email, class:"form-control", placeholder:"メールアドレス" %>
    </tr>
    <tr>
      <th><%= form.label :profile_text %>
      <td><%= form.text_area :profile_text, class:"form-control" %>
    </tr>
  </table>

  <div class="action_edit_user">
    <%= form.submit "送信する", class:"btn btn-info" %>
  </div>

<% end %>
